body {
    font-family: "Noto Sans";
    background: rgb(245, 245, 245);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* restyling the bootstrap navbar start */
.navbar {
    background-color: #D23D3F !important;
    color: white !important;
    width: 100%;
    font-size: 16 !important; 
}

.navbar-brand {
    color: white !important;
}

.dropdown-menu {
    align-items: flex-end;
    left: -88% !important;
    background-color: rgb(245, 245, 245);
    border-color: rgb(50, 50, 50);
    border-radius: 0px;
    color: black !important;
}

.btn-dropdown{
    color: black !important;
    margin-left: 0.75vh !important;
}

.btn-dropdown:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 0px;
}

.btn-dropdown:active {
    border-radius: 0px;
}

.active {
    border-radius: 0px;
    background-color: #D23D3F!important;
    border-color: transparent !important;
    padding: 0.5vh !important;
    color: white !important;
}
/* end */

/* style the card section carrying the voting start */
.card {
    margin-top: 15%;
    background: transparent !important;
    border-color: transparent !important;
    width: 75vh;
}

.card-body {
    align-items: center !important;
    display: grid;
}

#vote {
    color: black !important;
    font-weight: bold !important;
    font-size: 23px;
}

.form-select {
    border-radius: 0px;
    margin-right: 0.5vh !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color:rgb(100, 100, 100);
    border-width: 1.5px;
    background-color: white;
    height: 6vh;
    margin: 0.5%;
}


.btn-danger {
    border-radius: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color:#D23D3F;
    width: fit-content;
}

.choice {
    width: 10.5vh;
}
/* end */
